{{define "sidebar"}}
  <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/admin">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-cogs"></i>
                </div>
                <div class="sidebar-brand-text mx-3">Golang <sup>WEB</sup></div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Blog yazıları -->
            <li class="nav-item">
                <a class="nav-link" href="/admin">
                    <i class="fas fa-arrow-circle-right"></i>
                    <span>Blog Yazıları</span></a>
            </li>
           
            <hr class="sidebar-divider my-0">

            <li class="nav-item">
                <a class="nav-link" href="/admin/danisanlar/listele">
                    <i class="fas fa-arrow-circle-right"></i>
                    <span>Danışanlar</span></a>
            </li>

            <hr class="sidebar-divider d-none d-md-block">
            <div class="text-center  d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
{{end}}